$colorStrokeDefault: #dcc;

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.eot');
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular.woff2') format('woff2'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.eot');
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular.woff2') format('woff2'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.svg#Roboto') format('svg');
}

html, body {
  background:#322;
  color:$colorStrokeDefault;
  font: 16px Roboto, sans-serif;
  text-align: center;
}

body {
  display:inline-block;
  min-height:100%;
  min-height:100vh;
  min-width:800px;
  background:#433;
  margin:0;
  padding:1em;
  box-sizing: border-box;
  width:100%;
  @media (min-width: 1000px) {
    margin:0 5%;
    width:90%;
  }
  .section {
    margin:2em 0;
    div {
      margin:1em 0;
    }
  }
}
#javascriptWarning {
  border:5px solid #a00;
  background:#dcc;
  color:#a00;
  font-size:4em;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

table {
  display:inline-block;
  border-collapse: collapse;
  border: 1px solid $colorStrokeDefault;
  tr {
    th {
      border-top: 1px solid $colorStrokeDefault;
      border-bottom: 1px solid $colorStrokeDefault;
    }
    td, th {
      padding:.25em .75em;
    }
    td {
      transition: .5s ease-out background;
    }
  }
  tr:hover td {
    background:#544;
  }
  tr td:focus, tr td:focus:hover,
  tr:hover td:focus, tr:hover td:focus:hover {
    background:#fff;
    color:#433;
    box-shadow: inset 0 0 2px #000;
  }
}
footer {
  margin:10em 0 5em;
  &, & a {
    color: darken($colorStrokeDefault, 25);
  }
}

svg {
  text {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    cursor:default;
  }

  .bar {
    rect {
      fill:#900;
      stroke: $colorStrokeDefault;
      transition:.5s ease-out fill;
      &:hover {
        fill:#b11;
      }
    }
  }
  text {
    fill:$colorStrokeDefault;
    stroke:none;
  }

  g.axis {
    .domain, .tick line {
      stroke:$colorStrokeDefault;
    }
    .tick text {
      fill:$colorStrokeDefault;
      font-size:16px;
    }
  }
}
